<div class="info" *ngIf="innerWidth > 450">
  This website is currently only available on mobile phones, thanks.
</div>

<app-loader *ngIf="isLoading" *ngIf="innerWidth < 450" [@inOutAnimation]></app-loader>

<div class="app_container" *ngIf="innerWidth < 450">
  <app-nav></app-nav>

  <div class="app__main_container">
    <div class="hero_container">
      <div class="details_container">
        <p>Hello, <span>I am</span></p>
        <h1>Christian R. Paranas</h1>
        <p>
          a software developer currently in Tacloban City, Philippines.
          Specializing in building websites and applications. My current toolset
          includes Vue, React, Redux, Node, Laravel, and other various
          frameworks, libraries, and technologies related to them.
        </p>
      </div>
      <div class="img_container">
        <div class="img_wrapper">
          <img src="../../../assets/imgs/Lorem.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


