<div class="info" *ngIf="innerWidth > 450">This website is currently only available on mobiles phones, thanks.</div>

<div class="app_container" *ngIf="innerWidth < 450">
  <app-nav></app-nav>

  <div class="app__main_container">
    <div class="hero_container">
      <div class="details_container">
        <p>Hello, <span>I am</span></p>
        <h1>Christian R. Paranas</h1>
        <p>a software developer currently in Tacloban City, Philippines. Specializing in building websites and applications. My current toolset includes Vue, React, Redux, Node, Laravel, and other various frameworks, libraries, and technologies related to them.</p>  
      </div>
      <div class="img_container">
        <div class="img_wrapper">
          <img src="https://scontent.fceb2-1.fna.fbcdn.net/v/t39.30808-6/238918757_4005902089537555_8993149938043408021_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGiN1zsNDI7b9RIAIZBKK9a0dvMPkXUtLPR28w-RdS0s_HO6jCWAs1HDYCSYQsdh4NMY6K2hFJkCowpIvN_PSjH&_nc_ohc=zsHedyC4SrIAX9bN5aP&_nc_ht=scontent.fceb2-1.fna&oh=190be2f945b4df238c0ab65638139b97&oe=6154A9C8" alt="">
        </div>
       </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
