<div class="nav_container">
  <div
    class="nav_header__container"
    [ngClass]="[ onScroll ? 'nav_header__scroll': '', isOpenNavOverlay ? 'nav_header__scroll': '' ]"
  >
    <div class="header_wrapper">
      <div class="name">
        <img src="../../../assets/imgs/me.png" alt="">
      </div>
      <div class="ham_icon">
        <i
          *ngIf="!isOpenNavOverlay"
          (click)="openCloseNavOverlay()"
          class="fal fa-bars"
        ></i>
        <i
          *ngIf="isOpenNavOverlay"
          (click)="openCloseNavOverlay()"
          class="fal fa-times"
        ></i>
      </div>
    </div>
  </div>

  <div class="nav_overlay_container" *ngIf="isOpenNavOverlay" [@inOutAnimation]>
    <div class="nav_overlay_wrapper">
      <a href="">Me</a>
      <a href="">Projects</a>
      <a href="">Contact Me</a>
    </div>
  </div>
</div>
