
.nav_container {

   .nav_header__container {
      padding: 20px;
      height: 72px;
      width: 100%;
      position: fixed;
      background: transparent;

      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all .3s ease;
   }

   .nav_header__scroll {
      background: #101426;
   }
}